body {
  background: transparent url("/images/global/bg-default.jpg") center top fixed no-repeat;
  background-size: cover;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

body, html { height: 100%; }

h1 {
  font-size: 1.75em;
  font-weight: 300;
  margin: 0.5em 0;
  text-align: center;
}

/* Global */
.header {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 15%;
  background: transparent url("/images/global/bg-default.jpg") center top fixed no-repeat;
  background-size: cover;
  text-align: center;
  z-index: 10;

  #logo {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 100%;
    margin: 0 auto;
    padding: 1.25em 1em;
  }
}

.content {
  position: relative;
  top: 15%;
  height: 85%;
}

/* Landing */
#tagline {
  display: block;
  position: relative;
  width: 260px;
  margin: 0 auto 1em;
  top: 50%;
  transform: translateY(-110%);
}

/* Da Form */
#search {
  margin: 0;
  padding: 1em 1.25em;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

#voteForm {
  text-align: center;
  padding-bottom: 4em;

  .radio { margin: 0; }

  input {
    background: $mis-white;
    border: 0;
    border-radius: 100px;
    text-align: center;
    color: $white;
    -webkit-transition: background 150ms;
            transition: background 150ms;

    &::-webkit-input-placeholder {
      color: $mis-white-hover;
      -webkit-transition: color 150ms;
              transition: color 150ms;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $mis-white-hover;
      -webkit-transition: color 150ms;
              transition: color 150ms;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: $mis-white-hover;
      -webkit-transition: color 150ms;
              transition: color 150ms;
    }

    &:-ms-input-placeholder {
      color: $mis-white-hover;
      -webkit-transition: color 150ms;
              transition: color 150ms;
    }

    &[type="radio"] {
      display: none;
    }

  } /* /input */

  input, button {
    &:focus {
      background: $mis-white-hover;
      outline: 0;
      outline-style:none;
      box-shadow:none;
      border-color:transparent;

      &::-webkit-input-placeholder { color: $white; }
      &:-moz-placeholder { /* Firefox 18- */ color: $white; }
      &::-moz-placeholder {  /* Firefox 19+ */ color: $white; }
      &:-ms-input-placeholder { color: $white; }
    }
  }

  label {
    display: block;
    padding: 1em 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $mis-text;
    border-bottom: 1px solid $mis-white;

    &.final {
      border-bottom: 0;
    }

      &:hover {
        color: $mis-text-hover;
      }
  }

}



/* Global Styles */
.survey-actions {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.5em;
  padding: 1.25em;
  background: transparent url("/images/global/bg-default.jpg") center top fixed no-repeat;
  background-size: cover;

  .survey-confirm, .survey-next {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    line-height: 3;
    -webkit-transition: background 150ms;
            transition: background 150ms;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
