html, body { height: 100%; }

body {
  background: url("/images/global/bg-default.jpg") center top no-repeat;
  background-size: cover;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

h1 {
  font-weight: 100;
  margin: 0.5em 0;
  text-align: center;
}

/* Global */
.header {
  text-align: center;

  #logo {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 81px;
    margin: 1em auto;
  }
}

/* Landing */
#tagline {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 260px;
  transform: translate(-50%, -50%);
  margin: 0 auto 1em;
}

/* Da Form */
#search {
  margin: 0;
  padding: 1em 1.25em;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 0; border-right: 0;
}

#voteForm {
  text-align: center;

  .radio { margin: 0; }

  input {
    background: $mis-white;
    border: 0;
    border-radius: 100px;
    text-align: center;
    color: $white;
    -webkit-transition: background 150ms;
            transition: background 150ms;

    &::-webkit-input-placeholder {
      color: $mis-white-hover;
      -webkit-transition: color 150ms;
              transition: color 150ms;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: $mis-white-hover;
      -webkit-transition: color 150ms;
              transition: color 150ms;
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: $mis-white-hover;
      -webkit-transition: color 150ms;
              transition: color 150ms;
    }

    &:-ms-input-placeholder {
      color: $mis-white-hover;
      -webkit-transition: color 150ms;
              transition: color 150ms;
    }

    &[type="radio"] {
      display: none;
    }

  } /* /input */

  input, button {
    &:focus {
      background: $mis-white-hover;
      outline: 0;
      outline-style:none;
      box-shadow:none;
      border-color:transparent;

      &::-webkit-input-placeholder { color: $white; }
      &:-moz-placeholder { /* Firefox 18- */ color: $white; }
      &::-moz-placeholder {  /* Firefox 19+ */ color: $white; }
      &:-ms-input-placeholder { color: $white; }
    }
  }

  label {
    display: block;
    padding: 1.5em 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: $mis-text;
    border-bottom: 1px solid $mis-white;

      &:hover {
        color: $mis-text-hover;
      }
  }

}



/* Global Styles */
.survey-next {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.5em;
  padding: 1.3em;
  -webkit-transition: background 150ms;
          transition: background 150ms;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
