.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: url("/images/global/bg-default.jpg") center top no-repeat;
  background-size: cover;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

/* Custom page header */
.header {
  text-align: center;

  #logo {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 81px;
    margin: 1em auto;
  }
}

#tagline {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 260px;
  transform: translate(-50%, -50%);
  margin: 0 auto 1em;
}

.survey-next {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 1.5em;
  padding: 1.3em;
  -webkit-transition: background 150ms;
          transition: background 150ms;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
