<h1>{{title}}</h1>

<form name="voteForm" id="voteForm"
  ng-submit="sendForm">
  <input type="hidden" name="utf8" value="✓">

  <div id="search" class="form-group">
    <input type="search" name="search" class="form-control" autocomplete="off" placeholder="Search"
      ng-model="query">
  </div>

  <div class="radio"
    ng-repeat="option in options | filter: query"
    ng-class="{'radio-selected':option == $parent.selected}">
    <label>
      <input type="radio" name="options" value="{{option}}"
        ng-model="$parent.selected">
      {{option}}
    </label>
  </div>

  <div class="radio"
    ng-show="query">
    <label>
      <input type="radio" name="options" value="{{query}}"
        ng-model="selected">
      Create "{{query}}"
    </label>
  </div>

  <div class="radio">
    <label class="final">
      <span class="glyphicon glyphicon-heart"></span>
    </label>
  </div>

  <div class="survey-actions">
    <button type="submit" class="btn btn-primary survey-confirm"
      ng-click="click()"
      ng-disabled="disabled()">
      Confirm
    </button>
  </div>
</form>