<h1>{{title}}</h1>

<form name="voteForm"
  ng-submit="sendForm">
  <input type="hidden" name="utf8" value="✓">

  <div class="form-group">
    <input type="search" name="search" class="form-control" placeholder="Search..."
      ng-model="query">
  </div>

  <div class="radio"
    ng-repeat="option in options | filter: query">
    <label>
      <input type="radio" name="options" value="{{option}}">
      {{option}}
    </label>
  </div>

  <div class="radio"
    ng-show="query">
    <label>
      <input type="radio" name="options" value="{{query}}">
      Create "{{query}}"
    </label>
  </div>

  <button type="submit" class="btn btn-primary survey-next">
    Confirm
  </button>
</form>