<h1>Tell us about yourself!</h1>

<ng-form id="infoForm" name="infoForm"
  ng-submit="sendForm">
  <input type="hidden" name="utf8" value="✓">

  <ng-form ng-show="state == 'age'">
    <div class="radio"
      ng-class="{'radio-selected': age == '13-17'}">
      <label>
        <input type="radio" name="age" value="13-17"
          ng-model="age">
        13-17
      </label>
    </div>

    <div class="radio"
      ng-class="{'radio-selected': age == '18-24'}">
      <label>
        <input type="radio" name="age" value="18-24"
          ng-model="age">
        18-24
      </label>
    </div>

    <div class="radio"
      ng-class="{'radio-selected': age == '25-32'}">
      <label>
        <input type="radio" name="age" value="25-32"
          ng-model="age">
        25-32
      </label>
    </div>

    <div class="radio"
      ng-class="{'radio-selected': age == '33-45'}">
      <label>
        <input type="radio" name="age" value="33-45"
          ng-model="age">
        33-45
      </label>
    </div>

    <div class="survey-actions" ng-show="age">
      <a class="btn btn-primary survey-next"
        ng-click="state = 'gender'">
        Next
      </a>
    </div>
  </ng-form>

  <ng-form ng-show="state == 'gender'">
    <div class="radio"
      ng-class="{'radio-selected': gender == 'Male'}">
      <label>
        <input type="radio" name="gender" value="Male"
          ng-model="gender">
        Male
      </label>
    </div>

    <div class="radio"
      ng-class="{'radio-selected': gender == 'Female'}">
      <label>
        <input type="radio" name="gender" value="Female"
          ng-model="gender">
        Female
      </label>
    </div>

    <div class="survey-actions" ng-show="gender">
      <a class="btn btn-primary survey-next"
        ng-click="state = 'email'">
        Next
      </a>
    </div>
  </ng-form>

  <ng-form ng-show="state == 'email'">
    <div class="form-group email-input">
      <input type="email" name="email" class="form-control" placeholder="Email"
        ng-model="email">
    </div>

    <div class="survey-actions" ng-show="email">
      <a class="btn btn-primary survey-confirm"
        ng-click="click()">
        Finish
      </a>
    </div>
  </ng-form>
</ng-form>