<h1>Who are you?</h1>

<ng-form name="infoForm"
  ng-submit="sendForm">
  <input type="hidden" name="utf8" value="✓">

  <ng-form ng-show="state == 'age'">
    <div class="radio">
      <label>
        <input type="radio" name="age" value="Male">
        13-17
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="age" value="Male">
        18-24
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="age" value="Male">
        25-32
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="age" value="Male">
        33-45
      </label>
    </div>
  </ng-form>

  <ng-form ng-show="state == 'gender'">
    <div class="radio">
      <label>
        <input type="radio" name="gender" value="Male">
        Male
      </label>
    </div>

    <div class="radio">
      <label>
        <input type="radio" name="gender" value="Male">
        Female
      </label>
    </div>
  </ng-form>

  <ng-form ng-show="state == 'email'">
    <div class="form-group">
      <input type="text" name="email" class="form-control" placeholder="Email"
        ng-model="user.email">
    </div>
  </ng-form>

  <button type="submit" class="btn btn-primary survey-next">
    Confirm
  </button>
</ng-form>